apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-kube-system-rbac
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  project: default
  source:
    repoURL: https://github.com/sgutierr/secrets-storage-csi-demo.git
    targetRevision: HEAD
    path: deploy/rbac
    directory:
      include: argocd-kube-system-rbac.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

