apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: secrets-storage-csi
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: https://github.com/sgutierr/secrets-storage-csi-demo.git
    targetRevision: HEAD
    path: deploy/secrets-storage
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    # No especificamos namespace porque hay recursos a nivel de cluster (CRDs, ClusterRole, CSIDriver)
    # y recursos de múltiples namespaces (db-app, kube-system, openshift-cluster-csi-drivers)
    # ArgoCD manejará cada recurso según su metadata.namespace o como recurso de cluster
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

