apiVersion: v1
kind: ServiceAccount
metadata:
  name: db-app-sa
  namespace: db-app
---
kind: Pod
apiVersion: v1
metadata:
  name: dbapp
  namespace: db-app
spec:
  serviceAccountName: db-app-sa
  containers:
  - image: quay.io/mavazque/trbsht:latest
    name: dbapp
    securityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop:
          - ALL
    volumeMounts:
    - name: secrets-store-inline
      mountPath: "/mnt/secrets-store"
      readOnly: true
  volumes:
    - name: secrets-store-inline
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: "vault-database"